# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

#etc
.DS_Store
*.swp

# Gemfile lock file
Gemfile.lock

# RSpec file generated
.rspec_status

# gem build
*.gem
