name: Release
on:
  push:
    branches:
    - main
permissions:
  contents: write
  pull-requests: write
jobs:
  fillertext:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: ruby
          package-name: fillertext
          bump-minor-pre-major: true
          version-file: "lib/fillertext/version.rb"
      - uses: actions/checkout@v5
        if: ${{ steps.release.outputs.release_created }}
        with:
          persist-credentials: false
      - name: Get all git tags
        run: git fetch --prune --unshallow --tags
        if: ${{ steps.release.outputs.release_created }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
        if: ${{ steps.release.outputs.release_created }}
      - run: bundle install
        if: ${{ steps.release.outputs.release_created }}
      - name: publish gem
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          rake release
        env:
          GEM_HOST_API_KEY: "${{secrets.RUBYGEMS_AUTH_TOKEN}}"
        if: ${{ steps.release.outputs.release_created }}
